{% extends 'layout.html.twig' %}

{% block title %}Edition d'un Agent{% endblock %}

{% block body %}
<div id="main">
    <!-- One -->
    <section id="one">
        <header class="major">
            <h2> Edition de l'agent {{ agent.name }} {{ agent.firstname }}</h2>
        </header>
    </section>

    <!-- Two -->
    <section id="two">
        <div class="row">
            <div class="button-new">
                <ul class="icons">
                    <li>
                         <a href="{{ path('app_agents_index') }}" class="button">Retour à la liste</a>
                    </li>
                    <li>
                         {{ include('agents/_delete_form.html.twig') }}
                    </li>
                </ul>
            </div>
              {{ include('agents/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
     </section>
</div>
{% endblock %}
