{% extends 'layout.html.twig' %}

{% block title %}Liste des agents{% endblock %}

{# {% block javascripts %}
    {{ parent() }}
    <script>
       /* $(document).ready(function () {
            $('#example').DataTable();
        });*/
    </script>
{% endblock %} #}

{% block body %}
<div id="main">
    <!-- One -->
    <section id="one">
        <header class="major">
            <h2>Liste des agents</h2>
        </header>
    </section>
     <!-- Two -->
     <section id="two">
        <div class="row">
            <div class="button-new">
                <a href="{{ path('app_agents_new') }}" class="button">Nouvel agent</a>
            </div>
            {# <table id="example" class="table right"> #}
            <table id="example" class="table table-striped display">
                <thead>
                    <tr>
                        <th>Nom de l'agent</th>
                        <th>Prénom de l'agent</th>
                        <th>Service</th>
                        <th>Téléphones</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for agent in agents %}
                    <tr>
                        <td>{{ agent.name }}</td>
                        <td>{{ agent.firstname }}</td>
                        <td>
                            {% if agent.service %}
                            {{ agent.service.name }}
                            {% else %}
                            {{'-'}}
                            {% endif %}
                        </td>
                        <td>
                            {% if agent.phone %}
                            {{ agent.phone.number }}
                            {% else %}
                            {{'-'}}
                            {% endif %}
                        </td>
                        <td>
                            <ul class="icons">
                                <li>
                                    <a href="{{ path('app_agents_edit', {'id': agent.id}) }}" class="icon solid fa-pen icon-edit"><span class="label">Editer</span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
     </section>
</div>
{% endblock %}