{% extends 'layout.html.twig' %}

{% block title %}Téléphones{% endblock %}

{% block body %}
<div id="main">
    <!-- One -->
    <section id="one">
        <header class="major">
            <h2>Numéro de téléphone des agents et leur localité</h2>
        </header>
    </section>
    <!-- Two -->
     <section id="two">
        <div class="row">
            {% if is_granted('ROLE_USER') or is_granted('ROLE_SUPER_ADMIN') %}
            <div class="button-new">
                <a href="{{ path('app_phone_new') }}" class="button">Nouveau téléphone</a>
            </div>
            {% endif %}
            <table id="example" class="table table-striped display">
                <thead>
                    <tr>
                        <th>Type de téléphone</th>
                        <th>Numéro</th>
                        <th>Agent</th>
                        <th>Localisation</th>
                        {% if is_granted('ROLE_USER') or is_granted('ROLE_SUPER_ADMIN') %}
                        <th>actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for phone in phones %}
                    <tr>
                        <td>{{ phone.type }}</td>
                        <td>{{ phone.number }}</td>
                        <td>
                            {% if phone.agents %}
                            {% for agent in phone.agents %}
                                <div class="col 12 aln-center">
                                    {{ agent.name }} {{ agent.firstname }} 
                                </div>
                            {% endfor %}
                            {% else %}
                            {{ '-' }}
                            {% endif %}
                        </td>
                        <td>
                            {# {% if phone.localisation %}
                                {{ phone.localisation.siteName }}
                            {% else %}
                            {% endif %} #}
                            {{ phone.localisation ? phone.localisation.siteName : '—' }}
                        </td>
                        {% if is_granted('ROLE_USER') or is_granted('ROLE_SUPER_ADMIN') %}
                        <td>
                            <ul class="icons">
                                <li>
                                    <a href="{{ path('app_phone_edit', {'id': phone.id}) }}" class="icon solid fa-pen icon-edit"><span class="label">Editer</span></a>
                                </li>
                            </ul>
                        </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
     </section>
</div>
{% endblock %}
