{% extends 'layout.html.twig' %}

{% block title %}Localisation des services{% endblock %}

{% block body %}
<div id="main">
    <!-- One -->
    <section id="one">
        <header class="major">
            <h2>Localisation des services</h2>
        </header>
    </section>
    <!-- Two -->
     <section id="two">
        <div class="row">
            {% if is_granted('ROLE_USER') or is_granted('ROLE_SUPER_ADMIN') %}
            <div class="button-new">
                <a href="{{ path('app_localisation_new') }}" class="button">Nouvelles localisation</a>
            </div>
            {% endif %}
            <table id="example" class="table table-striped display">
                <thead>
                    <tr>
                        <th>Nom du site</th>
                        <th>Ville</th>
                        <th>Adresse</th>
                        <th>Services associés</th>
                        {% if is_granted('ROLE_USER') or is_granted('ROLE_SUPER_ADMIN') %}
                        <th>actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for localisation in localisations %}
                    <tr>
                        <td>{{ localisation.siteName }}</td>
                        <td>{{ localisation.city}}</td>
                        <td>{{ localisation.address }}</td>
                        <td>
                            {% if localisation.service %}
                            {% for service in localisation.service %}
                                <div class="col 12 aln-center">
                                    {{ service.name }}
                                </div>
                            {% endfor %}
                            {% else %}
                            {{ '-' }}
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_USER') or is_granted('ROLE_SUPER_ADMIN') %}
                        <td>
                            <ul class="icons">
                                <li>
                                    <a href="{{ path('app_localisation_edit', {'id': localisation.id}) }}" class="icon solid fa-pen icon-edit"><span class="label">Editer</span></a>
                                </li>
                            </ul>
                        </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
     </section>
</div>

    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Site_name</th>
                <th>City</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for localisation in localisations %}
            <tr>
                <td>{{ localisation.id }}</td>
                <td>{{ localisation.siteName }}</td>
                <td>{{ localisation.city }}</td>
                <td>{{ localisation.address }}</td>
                <td>
                    <a href="{{ path('app_localisation_show', {'id': localisation.id}) }}">show</a>
                    <a href="{{ path('app_localisation_edit', {'id': localisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    {# <a href="{{ path('app_localisation_new') }}">Create new</a> #}
{% endblock %}
