{% extends 'base.html.twig' %}

{% block header %}
<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="{{asset('home')}}" class="image avatar"><img src="{{ asset('images/LOGO-MLO.jpg') }}" alt="Logo MLO" /></a>
        <ul class="header-button">
            <li class="header-button-li"><a href="{{ path('app_information') }}" class="button"><h1>Accueil</h1></a></li>
             {% if is_granted('ROLE_USER') %}
             {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="header-button-li"><a href="{{ path('app_user_index') }}" class="button"><h1>Gestion Admin</h1></a></li>
             {% endif %}
            <li class="header-button-li"><a href="{{ path('app_logout', { redirect: app.request.uri }) }}" class="button"><h1>Déconnexion</h1> </a></li>
            {% else %}
            <li class="header-button-li"><a href="{{ path('app_login') }}" class="button" onclick="openLoginModal()"><h1>Administrateur</h1></a></li>
            {% endif %}
        </ul>
    </div>
</header>

{% if not is_granted('ROLE_ADMIN') %}
<!-- Modal Admin Login -->
<div id="modal-login" class="modal hidden">
    <div class="box">
        <h3>Connexion Administrateur</h3>

        <form method="post" action="{{ path('app_login') }}">
            {% set loginError = app.request.attributes.get('error') %}
            {% if loginError %}
                <p class="alert alert-danger">
                    {{ loginError.messageKey|trans(loginError.messageData, 'security') }}
                </p>
            {% endif %}

            <div class="row gtr-uniform gtr-50">
                <div class="col-12">
                    <input type="text" name="_username" placeholder="Nom d'utilisateur" required autofocus />
                </div>
                <div class="col-12">
                    <input type="password" name="_password" placeholder="Mot de passe" required />
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="hidden" name="_target_path" value="{{ app.request.uri }}">

                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Connexion" class="primary" /></li>
                        <li><a href="#" class="button alt" onclick="closeLoginModal()">Annuler</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
{% block footer %}
{% endblock %}

